<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>NEWS ARTICLES </title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
      </style>
        <script src="https://kit.fontawesome.com/7d57d2fbcb.js" crossorigin="anonymous"></script>
  </head>