<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>NEWS ARTICLE provides the functanility to access the news , locate articles 
      and breaking news headlines from news sources and blogs across the web with the JSON API of 
      'NewsApi.org'.
    </p>
    <p>News articles can be saved,created or deleted on user end and are stored in the Database.</p>
    

  <%- include("./partials/footer.ejs") %>
</body>
</html>